{% extends './layout.html' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="signup-container">
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
        <div class="form-group">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="soc">Nivel socioeconómico (digitar de 0 a 6)</label>
            <input type="number" id="soc" name="soc" min="0" max="6" required>
        </div>
        <div class="form-group">
            <label for="age">Edad</label>
            <input type="number" id="age" name="age" required>
        </div>
        <div class="form-group">
            <label for="gen">Genero</label>
            <input type="text" id="gen" name="gen" required>
        </div>
        <button type="submit">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="/">Inicia sesión aquí</a>.</p>
</div>
{% endblock %}
